.partner{
    position:relative;
    overflow:hidden;
    padding:1rem 0;
    margin-top:2rem;
}


.h1{
    font-size:1.6rem;
    font-weight:700;
    margin-top:1rem;
    text-transform:uppercase;
}


.box{
    position:relative;
    overflow:hidden;
    margin:0 2rem;
    
}

.logo{
    height:20rem;
    padding:0 3rem;
}

