$yellow : #FEDB4D;
$blue : #4E7DF1;
.createStore{
    margin: 30px 0px;

    &_form{
        background: white !important;
        padding: 30px;
        margin: 0px auto;
        box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.4) !important;
        border-radius: 5px;

        @media(max-width : 500px){
            padding: 30px 10px;
        }

        label{
            font-size: 14px;
            font-family: Bold !important;
        }

        input, textarea{
            box-shadow: none !important;
            border: 1px solid transparent lightgray;
            font-size: 14px;
            height: 40px;
            border-radius: 0px;

            &:focus{
                border: none !important;
                border-bottom: 2px solid $yellow !important;
                border-radius: 5px !important;
            }
        }

        input[type=file]{
            display: block;
            border: 1px solid lightgray;
            width: 100%;
            border-radius: 0px;
            height: 43px;
        }

        textarea{
            height: 70px !important;
        }

        button{
            margin-top: 20px;
            width: 100%;
            padding: 10px;
            border: 3px solid transparent;
            background: #facb10;
            color: black;
            text-transform: uppercase;
            cursor: pointer;
            font-family: Bold;
            font-variant: small-caps;
            font-size: 20px;
            border-radius: 10px;
            transition: 0.3s;
            text-align: center;

            &:hover{
                background: white;
                border: 3px solid #facb10;
            }

            &:disabled{
                color: gray;
                background-color: #eee;
                border: 3px solid rgb(148, 147, 147);
                cursor: no-drop;
            }
        }
    }
}

.half{
    background: linear-gradient(135deg,#fffb00,rgb(0, 90, 45));
    background-origin: border-box;
    display: flex;
    background-size: 100% 100%;
    border-radius: 5px;
    justify-content: center;
    padding: 40px;
    flex-direction: column;

    @media(max-width:1199px){
        display: none !important;
    }

    img{
        width: 70%;
        margin: 0px auto;
    }

    &_title{
        font-family: Extra-bold;
        color: white;
        font-size: 40px;

        span{
            color: #facb10;
            text-transform: uppercase;
        }
    }

    p{
        font-family:Bold;
        font-size: 25px;
        margin-top: 30px;
        text-align: right;
        color: #fac800;
    }

}


::-webkit-file-upload-button{
    background: #4E7DF1 !important;
    color: white;
    border: none;
    outline: none !important;
    cursor: pointer;
    border-radius:0px;
    padding: 10px ;
}